%btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background $transition-speed;
}

.button-primary {
  @extend %btn;
  background-color: $primary-color;
  color: white;
}
